.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.offerBar{
  display: block;
  background-color: #f9859d;
  color: #ffffff;
  padding: 10px 0;
}

.thin{
  font-weight: 300;
  font-size: .75em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-top: .05em;
}

.thick{
  font-weight: 700;
  margin-left: 5px;
  font-size: 1.25em;
  display: inline;
  vertical-align: middle;
}

.offerBox{
  margin: 4em auto 5em;
  display: block;
}
